/node_modules
/public/hot
/public/css
/public/js
/public/client/scripts/main.js
/public/client/styles/main.css
/public/themes/marie/css
/public/themes/marie/js
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
