* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: initial;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

::placeholder {
  color: inherit;
  opacity: .5;
}

::selection {
  background-color: $theme-secondary;
  color: #FFF;
}
