$black: #212121;
$blue: #1ca9c7;

$theme-primary: $black;
$theme-secondary: $blue;

$text-primary-on-light: rgba(0, 0, 0, .87);
$text-secondary-on-light: rgba(0, 0, 0, .54);
$text-hint-on-light: rgba(0, 0, 0, .38);

$text-primary-on-dark: rgba(255, 255, 255, 1);
$text-secondary-on-dark: rgba(255, 255, 255, .7);
$text-hint-on-dark: rgba(255, 255, 255, .5);

$font-family-sans-serif: "Roboto", sans-serif;
$font-family-serif: "Playfair Display", serif;

$font-family-body: $font-family-sans-serif;
$font-family-heading: $font-family-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$border-color-dark: rgba(black, .12);

$baseline: 4px;

$grid-gutter-width: 8 * $baseline;

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 720px,
  lg: 840px,
  xl: 980px,
);
