.announcement {
  display: none;
  background-color: #BABABA;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &_container {
    display: flex;
    align-items: center;
    height: 234px;
    color: $theme-primary;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }
  
  @include media-breakpoint-up(md) {
    display: block;
  }
}
