.content {
  flex-grow: 1;
}

.content-wrap {
  margin-left: -16px;
  margin-right: -16px;
  
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.content-main {
  flex-grow: 1;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 100%;
  // this is just stupid
  // https://css-tricks.com/flexbox-truncated-text/
  min-width: 0;
  
  @include media-breakpoint-down(md) {
    max-width: 600px;
  }
}

.content-aside {
  width: 100%;
  max-width: 332px;
  flex-shrink: 0;
  padding: 0 16px;
  margin: 0 auto;
}

.aside-box {
  margin-bottom: 8 * $baseline;
}
