.header {
  position: sticky;
  top: 0;
  color: $text-primary-on-dark;
  background-color: $theme-primary;
  z-index: 10;
}

.header-wrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 64px;
  padding-right: 64px;
}

.header_search-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background-color: #212121;
}

.top-bar {
  background-color: #212121;
  color: #FFF;

  @include media-breakpoint-up(md) {
    display: none;
  }

  &_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
  }
}
