.home-popular {
  overflow-x: hidden;
  margin-left: -(2 * $baseline);
  margin-right: -(2 * $baseline);

  @include media-breakpoint-up(sm) {
    margin-left: -(4 * $baseline);
    margin-right: -(4 * $baseline);
  }

  &_item {
    width: 50%;
    padding: 0 (2 * $baseline);

    @include media-breakpoint-up(sm) {
      width: 33.3333%;
      padding: 0 (4 * $baseline);
    }

    @include media-breakpoint-up(lg) {
      width: 25%;
    }
  }

  &_title {
    display: block;
    font-size: 18px;
    color: $text-primary-on-light;
    font-weight: $font-weight-bold;
    line-height: 1.3;
    height: 3.9em;
    overflow: hidden;
    margin: (4 * $baseline) 0 (2 * $baseline);
  }
}
