.details {
  display: inline-flex;
  padding: (2 * $baseline) 0;
  background-color: white;
  font-family: $font-family-sans-serif;
  border: 1px solid white;
  outline: 1px solid white;

  &--fixed {
    position: absolute;
    top: 0;
    left: 0;
    padding: (2 * $baseline) (4 * $baseline);
    transform: translateY(-100%);
    z-index: 2;
  }

  &-item {
    font-size: 12px;
    font-variant: small-caps;
    font-weight: $font-weight-bold;
    text-decoration: none;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }

    &--primary {
      color: $text-primary-on-light;
    }

    &--secondary {
      color: $text-hint-on-light;
    }
  
    &::before {
      content: "|";
      padding: 0 (2 * $baseline);
    }

    &:first-child::before {
      display: none;
    }
  }
}
