.container {
  width: 100%;
  max-width: 1012px;
  padding: 0 (4 * $baseline);
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;

  @include media-breakpoint-up(sm) {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.col {
  min-width: 0;
  padding: 0 8px;

  @include media-breakpoint-up(sm) {
    padding: 0 16px;
  }

  &--6 {
    flex: 1 1 50%;   
  }
}