.container {
  width: 100%;
  max-width: 1012px;
  padding: 0 (4 * $baseline);
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -(2 * $baseline);
  margin-right: -(2 * $baseline);

  @include media-breakpoint-up(sm) {
    margin-left: -(4 * $baseline);
    margin-right: -(4 * $baseline);
  }
}

.col {
  min-width: 0;
  padding: 0 (2 * $baseline);

  @include media-breakpoint-up(sm) {
    padding: 0 (4 * $baseline);
  }

  &--6 {
    flex: 1 1 50%;   
  }
}