.image-grid {
  display: grid;
  grid-gap: (2 * $baseline);
  grid-template-columns: repeat(4, 1fr);

  @include media-breakpoint-up(sm) {
    grid-gap: (4 * $baseline);
  }

  :nth-child(6n+1) {
    grid-column: span 2;
    grid-row: span 2;
  }
}