$_logo-ratio_: 38.89 / 215.95;

.logo {
  display: inline-flex;
  fill: currentColor;

  &-wrap {
    color: inherit !important;

    &:hover,
    &:focus {
      opacity: .9;
    }
  }
  
  &--header {
    width: 220px;
    height: 220px * $_logo-ratio_;

    @include media-breakpoint-up(sm) {
      width: 280px;
      height: 280px * $_logo-ratio_;
    }

    @include media-breakpoint-up(md) {
      width: 470px;
      height: 470px * $_logo-ratio_;
    }
  }
}
