.logo {
  display: inline-flex;
  fill: currentColor;
  
  &--header {
    width: 220px;

    @include media-breakpoint-up(sm) {
      width: 280px;
    }

    @include media-breakpoint-up(lg) {
      width: 470px;
    }
  }
}
