@mixin logo($w) {
  width: $w;
  height: (38.89 / 215.95) * $w;
}

.logo {
  display: inline-flex;
  fill: currentColor;

  &-wrap {
    color: inherit !important;

    &:hover,
    &:focus {
      opacity: .9;
    }
  }

  &--nav {
    @include logo(86px);
  }
  
  &--header {
    @include logo(220px);

    @include media-breakpoint-up(sm) {
      @include logo(280px);
    }

    @include media-breakpoint-up(md) {
      @include logo(470px);
    }
  }

  &--footer {
    @include logo(156px);
  }
}
