.nav-item {
  padding: 0 (2 * $baseline);

  @include media-breakpoint-up(md) {
    padding: 0 $baseline;
  }
}

.nav-link {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  color: $text-primary-on-dark;
  display: inline-flex;
  align-items: center;
  height: 48px;

  @include media-breakpoint-up(md) {
    font-size: 15px;
    height: 36px;
  }

  &:hover,
  &:focus {
    color: $theme-secondary;
    text-decoration: none;
  }
}
