.search-widget {
  position: absolute;
  top: 8px;
  right: 16px;
  margin: 0;
  padding: 0;
  color: $text-primary-on-dark;
  font-size: 16px;
  width: 0;
  transition: width .21s;

  .search-open & {
    width: 180px;
  }

  input {
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid white;
    background: 0;
    box-shadow: none;
    outline: none;
  }

  &_border {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    opacity: 0;
    transform: scaleX(0);
    transition: transform .12s;

    input:focus + & {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  &_search {
    position: absolute;
    top: 0;
    left: -36px;
  }

  &_close {
    position: absolute;
    top: 0;
    right: -16px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .12s;
    
    .search-open & {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
