.sidenav {
  padding: (4 * $baseline) 0;
  color: $text-primary-on-dark;
}

.sidenav-link {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 (8 * $baseline);
  font-weight: $font-weight-bold;
  font-size: 20px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $theme-secondary;
    text-decoration: none;
  }
}
