.social {
  display: flex;
  justify-content: center;
  padding: (4 * $baseline) 0;
}

.social-link {
  display: inline-flex;
  padding: 4px;
  color: $text-primary-on-dark;

  &:hover,
  &:focus {
    color: $theme-secondary;
  }
}
