.tab-bar {
  display: block;
  white-space: nowrap;
  overflow-x: visible;
  transform: translateX(0);
  will-change: transform;
  font-size: 0;

  &_track {
    display: inline-block;
    overflow: hidden;
    font-size: initial;
  }
  
  &_track > * {
    display: inline-block;
  }
}

.tab-bar-wrap {
  overflow: hidden;

  .search-open & {
    opacity: 0;
    transition: opacity .12s;
    pointer-events: none;
  }
}

// Before JS kicks in ;)
tab-bar {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
}