.title {
  font-family: $font-family-body;
  font-weight: $font-weight-bold;
  font-size: 18px;
  text-transform: uppercase;

  &--lines {
    position: relative;
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: "";
      background-color: $theme-primary;
      height: 2px;
      flex-grow: 1;
    }

    &::before {
      margin-right: (8 * $baseline);
    }

    &::after {
      margin-left: (8 * $baseline);
    }
  }
}

.h6 { font-size: 20px; }
.h5 { font-size: 24px; }
.h4 { font-size: 34px; }
.h3 { font-size: 48px; }
.h2 { font-size: 60px; }
.h1 { font-size: 96px; }

.small {
  font-size: 12px;
}

.text-serif {
  font-family: $font-family-serif !important;
}

.text-sans-serif {
  font-family: $font-family-sans-serif !important;
}
