.with-scrollbar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba($theme-primary, .12);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($theme-primary, .21);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: $theme-primary;
  }
}
